html{
	width: 100%;
	height: 100%;
	background-color: white;
}

ul span{
	font-weight: 600;
	font-size: 2em;
}

.add{
	display: block;
	
	width: 40%;
	
	margin: 5px 10px 5px 0;
}

.download{
	display: block;
	
	margin: 5px 5px 5px 0;
}

.list{
	display: grid;
	grid-row: auto;
	
	position: absolute;
	top: 10px;
	
	margin-top: 0;
	margin-left: 50vw;
	
	text-align: left;
}